{\rtf1\ansi\ansicpg1252\cocoartf2580
\cocoatextscaling0\cocoaplatform0{\fonttbl\f0\fmodern\fcharset0 Courier;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\paperw11900\paperh16840\margl1440\margr1440\vieww11520\viewh8400\viewkind0
\pard\tx566\tx1133\tx1700\tx2267\tx2834\tx3401\tx3968\tx4535\tx5102\tx5669\tx6236\tx6803\pardirnatural\partightenfactor0

\f0\fs24 \cf0 # BEGIN Cache-Control Headers\
<IfModule mod_headers.c>\
<FilesMatch "\\.(ico|jpe?g|png|gif|swf|css|gz)$">\
Header set Cache-Control "max-age=2592000, public"\
</FilesMatch>\
<FilesMatch "\\.(js)$">\
Header set Cache-Control "max-age=2592000, private"\
</FilesMatch>\
<filesMatch "\\.(html|htm)$">\
Header set Cache-Control "max-age=7200, public"\
</filesMatch>\
# Enleve le cache pour les ressources dynamiques\
<FilesMatch "\\.(pl|php|cgi|spl|scgi|fcgi)$">\
Header unset Cache-Control\
</FilesMatch>\
</IfModule>\
# END Cache-Control Headers\
\
# MOD_DEFLATE COMPRESSION\
SetOutputFilter DEFLATE\
AddOutputFilterByType DEFLATE text/html text/css text/plain text/xml application/x-javascript application/x-httpd-php\
#Pour les navigateurs incompatibles\
BrowserMatch ^Mozilla/4 gzip-only-text/html\
BrowserMatch ^Mozilla/4\\.0[678] no-gzip\
BrowserMatch \\bMSIE !no-gzip !gzip-only-text/html\
BrowserMatch \\bMSI[E] !no-gzip !gzip-only-text/html\
#ne pas mettre en cache si ces fichiers le sont d\'e9j\'e0\
SetEnvIfNoCase Request_URI \\.(?:gif|jpe?g|png)$ no-gzip\
#les proxies doivent donner le bon contenu\
Header append Vary User-Agent env=!dont-vary}